<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href=http://resource.fstvgo.com/image/Favicon.ico />
		<title>用户登录注册</title>
		<script type="text/javascript" src="/static/js/jquery-1.12.3.js"></script>
		<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>

        {% block cssjs %}

        {% endblock %}

	</head>

	<body>
		<div id="logo">
			<div class="logo">
				<a href="index.html" target="_blank"><img src="/static/img/02/logo.gif" /></a>
				<a href="#"><img src="/static/img/02/biaoyu-huanyingzhuce.png" /></a>
			</div>
		</div>


        {% block main %}

        {% endblock %}


		<div id="fotter">
			<div class="last_text">
				<span><a href="#">触屏版</a></span>
				<span><a href="#">电脑版</a></span>
				<h3>ICP经营许可证：赣ICP备15000001号</h3>
				<h3>24小时订购和服务热线：4001-677-077</h3>
				<h3>Copyright 2008-2014，www.fstvgo.com 风尚购物 版权所有</h3>
				<h3>本网站用字经北京北大方正电子有限公司授权许可</h3>
			</div>
		</div>
	</body>

</html>